<!-- FlexSlider -->
<section class="flex-wrapper">
    <div id="slider" class="flexslider">
        <ul class="slides">
            <li>
                <div class="flex-title">
                    <h3>News 1</h3>
                    <p>Quo eram amet aliqua incurreret et de velit duis aut iudicem. Culpa voluptatibus incurreret magna deserunt.</p>
                </div>
                <img src="{{ 'assets/img/photos/large1.jpg'|theme }}" alt="">
            </li>
            <li>
                <div class="flex-title">
                    <h3>News 2</h3>
                    <p>Quo eram amet aliqua incurreret et de velit duis aut iudicem. Culpa voluptatibus incurreret magna deserunt.</p>
                </div>
                <img src="{{ 'assets/img/photos/large2.jpg'|theme }}" alt="">
            </li>
            <li>
                <div class="flex-title">
                    <h3>News 3</h3>
                    <p>Quo eram amet aliqua incurreret et de velit duis aut iudicem. Culpa voluptatibus incurreret magna deserunt.</p>
                </div>
                <img src="{{ 'assets/img/photos/large3.jpg'|theme }}" alt="">
            </li>
        </ul>
    </div>
</section>
<!-- /FlexSlider -->