{% set matchs = __SELF__.matchs %}

<!-- Fixture Slider -->
<section class="transparent-bg">
    <div id="fixture">
        {% for match in matchs %}
        <div class="slide-content">
            <div class="match-results">
                <span>{{ match.team1 }}</span>
                <span class="score">
                    {% if match.match_played == 0 %}
                        vs
                    {% else %}
                        {{ match.team1_score }} - {{ match.team2_score }}
                    {% endif %}
                </span>
                <span>{{ match.team2 }}</span>
            </div>
            <div class="match-place">
                <span>{% partial 'date_fr' theDate=match.match_date %} - {{ match.match_location }}</span>
                <span class="red"><a href="{{ match.url }}">Détails</a></span>
            </div>
        </div>
        {% else %}
        <p>
            {{ noMatchsMessage }}
        </p>
        {% endfor %}
    </div>
</section>
<!-- /Fixture Slider -->